@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body
{
    background-image: linear-gradient(to right, rgba(242, 1, 143, 1), rgba(32, 150, 228, 1));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    font-family: 'Poppins', sans-serif;

}
.login{
        width: 300px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #fefefe42;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #ffffff;
    padding: 30px;
    font-weight: bolder;
}
#username{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#password{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#submit{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: rgb(0, 0, 0);
}

     .submit:hover{
        background: #5757d1;

}
span{
    color: white;
    font-size: 20px;
}
a{
    float: right;
    background-color: grey;
}


    .error-message {
        color: rgb(95, 3, 3);
        text-align: center; /* Horizontal centering */
        margin: 0; /* Reset margin to remove default space */
        position: fixed;
        top: 30%; /* Vertical centering */
        left: 50%;
        transform: translate(-50%, -50%);
    }

